In [1]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import DBSCAN
from time import time

In [5]:
def dbscan(X, clusters, eps):
    vectorizer = TfidfVectorizer()
    X = vectorizer.fit_transform(X)

    t0 = time()
    db = DBSCAN(eps=eps, min_samples=1)
    pred = db.fit_predict(X)

    print("Clustering finished for %d clusters." % clusters)
    print("Done in %f seconds." % (time() - t0))

    return pred

In [3]:
df = pd.read_excel('../dataset/clean_dataset++.xlsx')
df

,id,Label_1,Label_2,Original,Quantity,Price,MUNICIPIO,DATA,Text
0,0,45,12,#$ACETO.TRIA+SULFNEO+GRAM+NIST POM G LE,1,20.00,Nova Cruz,2020-07-07 00:00:00.000,ACETOTRIA SULFNEO
1,1,45,12,#$ACETO.TRIA+SULFNEO+GRAM+NIST POM G LE,1,20.00,Nova Cruz,2020-07-07 00:00:00.000,ACETOTRIA SULFNEO
2,2,45,12,#$ACETO.TRIA+SULFNEO+GRAM+NIST POM G LE,1,20.00,Nova Cruz,2020-07-07 00:00:00.000,ACETOTRIA SULFNEO
3,3,45,12,#$ACETO.TRIA+SULFNEO+GRAM+NIST POM G LE,1,20.00,Nova Cruz,2020-07-07 00:00:00.000,ACETOTRIA SULFNEO
4,4,291,153,#$BACTRONEO POM 20MG/G C/15G NEOQU,8,30.00,Nova Cruz,2020-06-10 00:00:00.000,BACTRONEO POMADA 20 15
...,...,...,...,...,...,...,...,...,...
21111,21111,3258,1572,ZYPRED SOL OFT 6ML,2,68.63,POMBAL,2020-03-09 00:00:00.000,ZYPRED SOL 6
21112,21112,3258,1572,ZYPRED SOL OFT C/6ML,1,70.84,PATOS,2020-07-13 00:00:00.000,ZYPRED SOL 6
21113,21113,3258,1572,ZYPRED SOL OFT C/6ML,1,70.84,PATOS,2020-07-13 00:00:00.000,ZYPRED SOL 6
21114,21114,3258,1572,ZYPRED SOL OFT C/6ML,1,70.84,PATOS,2020-07-13 00:00:00.000,ZYPRED SOL 6
21115,21115,3259,1572,ZYPRED SUSP OFT 3ML POS,2,35.07,SERRARIA,2020-05-18 00:00:00.000,ZYPRED SUSP 3

In [21]:
t0 = time()
df['Cluster 1'] = dbscan(df['Text'], 3273, 0.513)
df['Cluster 2'] = dbscan(df['Text'], 1564, 0.968)
print("Total: %f seconds." % (time() - t0))

Clustering finished for 3273 clusters.
Done in 6.002518 seconds.
Clustering finished for 1564 clusters.
Done in 6.000469 seconds.
Total: 12.228329 seconds.

In [24]:
df.to_excel("../dataset/db++.xlsx", index=False)