In [1]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.cluster import KMeans, MiniBatchKMeans
from sklearn.manifold import TSNE
import matplotlib.pyplot as plt
from ast import literal_eval

In [ ]:
# from google.colab import files
# import io

# file = files.upload()

# data = pd.read_excel(io.BytesIO(file['one_class_dataset.xlsx']))

In [7]:
# model used for clustering with autoencoder data
def K_means_ae(X, df):
    kmeans = KMeans(n_clusters=1564, random_state=0, verbose=1)
    model = kmeans.fit(X)
    pred_classes = kmeans.predict(X)

    df['Cluster'] = pred_classes
    df.sort_values(by=['Cluster']).reset_index(drop=True)

    df.index.rename('id', inplace=True)
    df.to_excel("../dataset/kmeans_ae_2.xlsx", index=False)
    #pd.set_option('display.max_rows', None)
    #res.sort_values(by=['cluster'])

In [9]:
# model used for clustering with text
def K_means_text(X, df):
    vectorizer = TfidfVectorizer()
    X = vectorizer.fit_transform(X)

    kmeans = MiniBatchKMeans(n_clusters=3273, random_state=0, verbose=1, batch_size=128)
    model = kmeans.fit(X)
    pred_classes = kmeans.predict(X)
    # X = input_data['X'].todense()

    # embeddings = TSNE(n_components=2)
    # Y = embeddings.fit_transform(X)
    # plt.scatter(Y[:, 0], Y[:, 1], cmap=plt.cm.Spectral, c=model.labels_.astype(float))
    # plt.show()

    df['Cluster'] = pred_classes
    df.sort_values(by=['Cluster']).reset_index(drop=True)

    df.to_excel("../dataset/kmeans_1++.xlsx", index=False)
    #pd.set_option('display.max_rows', None)
    #res.sort_values(by=['cluster'])

In [3]:
df = pd.read_excel('../dataset/clean_dataset++.xlsx')
df

,id,Label_1,Label_2,Original,Quantity,Price,Text
0,0,45,12,#$ACETO.TRIA+SULFNEO+GRAM+NIST POM G LE,1,20.00,ACETOTRIA SULFNEO
1,1,45,12,#$ACETO.TRIA+SULFNEO+GRAM+NIST POM G LE,1,20.00,ACETOTRIA SULFNEO
2,2,45,12,#$ACETO.TRIA+SULFNEO+GRAM+NIST POM G LE,1,20.00,ACETOTRIA SULFNEO
3,3,45,12,#$ACETO.TRIA+SULFNEO+GRAM+NIST POM G LE,1,20.00,ACETOTRIA SULFNEO
4,4,291,153,#$BACTRONEO POM 20MG/G C/15G NEOQU,8,30.00,BACTRONEO POMADA 20 15
...,...,...,...,...,...,...,...
21111,21111,3258,1572,ZYPRED SOL OFT 6ML,2,68.63,ZYPRED SOL 6
21112,21112,3258,1572,ZYPRED SOL OFT C/6ML,1,70.84,ZYPRED SOL 6
21113,21113,3258,1572,ZYPRED SOL OFT C/6ML,1,70.84,ZYPRED SOL 6
21114,21114,3258,1572,ZYPRED SOL OFT C/6ML,1,70.84,ZYPRED SOL 6
21115,21115,3259,1572,ZYPRED SUSP OFT 3ML POS,2,35.07,ZYPRED SUSP 3

In [10]:
K_means_text(df['Original'], df)

Init 1/3 with method: k-means++
Inertia for init 1/3: 996.736896
Init 2/3 with method: k-means++
Inertia for init 2/3: 979.078341
Init 3/3 with method: k-means++
Inertia for init 3/3: 977.096731
Minibatch iteration 1/16500: mean batch inertia: 0.162223, ewa inertia: 0.162223
Minibatch iteration 2/16500: mean batch inertia: 0.207680, ewa inertia: 0.162774
Minibatch iteration 3/16500: mean batch inertia: 0.148066, ewa inertia: 0.162595
Minibatch iteration 4/16500: mean batch inertia: 0.163913, ewa inertia: 0.162611
Minibatch iteration 5/16500: mean batch inertia: 0.154003, ewa inertia: 0.162507
Minibatch iteration 6/16500: mean batch inertia: 0.223612, ewa inertia: 0.163248
Minibatch iteration 7/16500: mean batch inertia: 0.156294, ewa inertia: 0.163164
Minibatch iteration 8/16500: mean batch inertia: 0.192246, ewa inertia: 0.163516
Minibatch iteration 9/16500: mean batch inertia: 0.155454, ewa inertia: 0.163418
[MiniBatchKMeans] Reassigning 64 cluster centers.
Minibatch iteration 10/16500: mean batch inertia: 0.126614, ewa inertia: 0.162972
Minibatch iteration 11/16500: mean batch inertia: 0.238009, ewa inertia: 0.163882
Converged (lack of improvement in inertia) at iteration 11/16500
Computing label assignment and total inertia
Computing label assignment and total inertia

In [6]:
df = pd.read_excel('../dataset/autoencoder_1++.xlsx')

In [62]:
df['Label_1'].nunique()

2639

In [4]:
df = df[df['decoded_txt'] < df['decoded_txt'].quantile(.95)]
df

,id,Label_1,Label_2,Original,Quantity,Price,Text,decoded_txt,raw,Cluster
4,4,291,153,#$BACTRONEO POM 20MG/G C/15G NEOQU,8,30.00,BACTRONEO POMADA 20 15,57.153709,"[182.8121795654297, 93.35037994384766, 21.5270...",1354
5,5,1191,595,#ESCITALOPRAM 10MG C1 - CX. C/ 30 COMP REV PHARL,1,24.99,ESCITALOPRAM 10 30,16.694345,"[48.219482421875, 38.917640686035156, 13.65833...",7
6,6,2849,1379,#SULFAMETOXAZOL+TRIM. 800+160MG C/10 COM 78961...,5,11.40,SULFAMETOXAZOL TRIM 800 160 10 7896112132875,144.020294,"[469.03369140625, 198.95074462890625, 38.73616...",2532
7,7,555,728,#VENLAFAXINA 150MG C/ 30 GEOLA C1,2,101.93,VENLAFAXINA 150 30 1,17.562687,"[51.23591613769531, 40.19102096557617, 13.7775...",66
8,8,555,728,#VENLAFAXINA 150MG C/ 30 GEOLA C1,2,101.93,VENLAFAXINA 150 30 1,17.562687,"[51.23591613769531, 40.19102096557617, 13.7775...",66
...,...,...,...,...,...,...,...,...,...,...
21111,21111,3258,1572,ZYPRED SOL OFT 6ML,2,68.63,ZYPRED SOL 6,48.154522,"[153.28811645507812, 81.45967864990234, 19.790...",1136
21112,21112,3258,1572,ZYPRED SOL OFT C/6ML,1,70.84,ZYPRED SOL 6,48.155220,"[153.29042053222656, 81.46060180664062, 19.791...",1136
21113,21113,3258,1572,ZYPRED SOL OFT C/6ML,1,70.84,ZYPRED SOL 6,48.155220,"[153.29042053222656, 81.46060180664062, 19.791...",1136
21114,21114,3258,1572,ZYPRED SOL OFT C/6ML,1,70.84,ZYPRED SOL 6,48.155220,"[153.29042053222656, 81.46060180664062, 19.791...",1136
21115,21115,3259,1572,ZYPRED SUSP OFT 3ML POS,2,35.07,ZYPRED SUSP 3,51.914577,"[165.63331604003906, 86.43160247802734, 20.516...",1230

In [10]:
ae_data = []
for item in df['raw']:
    x = literal_eval(item)
    ae_data.append(x)

In [11]:
K_means_ae(ae_data, df)

Initialization complete
Iteration 0, inertia 92.78050932577202
Iteration 1, inertia 67.09094726700303
Converged at iteration 1: center shift 0.11458203080722013 within tolerance 0.2983674761799525.
Initialization complete
Iteration 0, inertia 90.60691600736202
Iteration 1, inertia 65.53104552075769
Converged at iteration 1: center shift 0.05845342761404754 within tolerance 0.2983674761799525.
Initialization complete
Iteration 0, inertia 92.3630162571018
Iteration 1, inertia 65.94459214164546
Converged at iteration 1: center shift 0.0772590455097309 within tolerance 0.2983674761799525.
Initialization complete
Iteration 0, inertia 93.183383957033
Iteration 1, inertia 66.35702680736155
Converged at iteration 1: center shift 0.09909490032980112 within tolerance 0.2983674761799525.
Initialization complete
Iteration 0, inertia 91.60883575351616
Iteration 1, inertia 66.40323751722701
Converged at iteration 1: center shift 0.10216804330526617 within tolerance 0.2983674761799525.
Initialization complete
Iteration 0, inertia 92.45841128319653
Iteration 1, inertia 66.98888004670175
Converged at iteration 1: center shift 0.11090706200056852 within tolerance 0.2983674761799525.
Initialization complete
Iteration 0, inertia 89.59512209363268
Iteration 1, inertia 65.14152047274615
Converged at iteration 1: center shift 0.07779328705247149 within tolerance 0.2983674761799525.
Initialization complete
Iteration 0, inertia 91.42976701613361
Iteration 1, inertia 66.31751687938939
Converged at iteration 1: center shift 0.13062369790060407 within tolerance 0.2983674761799525.
Initialization complete
Iteration 0, inertia 90.82161090152242
Iteration 1, inertia 66.214674308706
Converged at iteration 1: center shift 0.09505677759740502 within tolerance 0.2983674761799525.
Initialization complete
Iteration 0, inertia 90.66087573385379
Iteration 1, inertia 65.90661613510458
Converged at iteration 1: center shift 0.1391438516191298 within tolerance 0.2983674761799525.